.dropmenu ul li a.active, 
.dropmenu ul li a:focus, 
.dropmenu ul li a:hover {
  color: rgb(69, 140, 69) !important;
}

.treemenu li a.active,
.treemenu li a:focus,
.treemenu li a:hover {
  color: rgb(58, 142, 58)!important;
}

h1 {
    color: #387847;
}

 .modular-features .feature-icon h6 a:hover {
    color: #387847;
 }

 .column img {
display:block;
margin-right:auto;
margin-left:auto;
 }

 mark {
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
            animation: 1.5s highlight 1.5s 1 normal forwards;
    background-color: none;
    background: linear-gradient(90deg, #7efff5 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
  }
  
  @-webkit-keyframes highlight {
    to {
      background-position: 0 0;
    }
  }