.dropmenu ul li a.active, 
.dropmenu ul li a:focus, 
.dropmenu ul li a:hover {
  color: rgb(69, 140, 69) !important;
}

.treemenu li a.active,
.treemenu li a:focus,
.treemenu li a:hover {
  color: rgb(58, 142, 58)!important;
}

h1 {
    color: #387847;
}

 .modular-features .feature-icon h6 a:hover {
    color: #387847;
 }

 .column img {
display:block;
margin-right:auto;
margin-left:auto;
 }

 .container.grid-lg span {
    background-color:rgba(0, 0, 0, 0.113);
 }